basePath: /api/v1
host: localhost:10024
info:
  contact:
    email: jeckwell@126.com
    name: API Support
    url: http://www.swagger.io/support
  description: Tower Go 用户管理系统 API 文档
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Tower Go API
  version: "1.0"
paths: {}
schemes:
- http
- https
securityDefinitions:
  Bearer:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
